  <div class="container-xxl bg-white p-0">
  {{page.header}}
  {{page.primary_menu}}
  {{page.secondary_menu}}
  {{page.page_top}}
  {{page.page_bottom}}
  {{page.featured}}
  {{page.breadcrumb}}
  {{page.home_page_content}}
  {{page.sidebar_first}}
  {{page.sidebar_second}}
  {{page.footer}}
  </div>